*.std
*.pkl
*.pdf
Submission/KuiSCIMA/*
Submission/BaseLineExperiments/TrainingDataset/*
Submission/BaseLineExperiments/TotalDataset/*
Submission/BaseLineExperiments/TrainingDataset/*
Submission/BaseLineExperiments/TestDataset/*
IUI_files/DATASET
temp
